@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 100%;
  --foreground: 0, 5%, 11%
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 5%, 11%;
    --foreground: 0, 0%, 100%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --gradient: #76b852;
    --background: 105 27.3% 4.16%;
    --foreground: 105 4.2% 97.6%;
    --muted: 105 21% 15.600000000000001%;
    --muted-foreground: 105 4.2% 55.2%;
    --popover: 105 56.6% 6.76%;
    --popover-foreground: 105 4.2% 97.6%;
    --card: 105 56.6% 6.76%;
    --card-foreground: 105 4.2% 97.6%;
    --input: 105 21% 15.600000000000001%;
    --primary: 105 42% 52%;
    --primary-foreground: 105 4.2% 5.2%;
    --secondary: 105 21% 15.600000000000001%;
    --secondary-foreground: 105 4.2% 97.6%;
    --accent: 105 21% 15.600000000000001%;
    --accent-foreground: 105 4.2% 97.6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 105 4.2% 97.6%;
    --ring: 105 42% 52%;
    --border: 220 13% 91%;
  }

  .dark {
    --gradient: #76b852;
    --background: 105 27.3% 4.16%;
    --foreground: 105 4.2% 97.6%;
    --muted: 105 21% 15.600000000000001%;
    --muted-foreground: 105 4.2% 55.2%;
    --popover: 105 56.6% 6.76%;
    --popover-foreground: 105 4.2% 97.6%;
    --card: 105 56.6% 6.76%;
    --card-foreground: 105 4.2% 97.6%;
    --input: 105 21% 15.600000000000001%;
    --primary: 105 42% 52%;
    --primary-foreground: 105 4.2% 5.2%;
    --secondary: 105 21% 15.600000000000001%;
    --secondary-foreground: 105 4.2% 97.6%;
    --accent: 105 21% 15.600000000000001%;
    --accent-foreground: 105 4.2% 97.6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 105 4.2% 97.6%;
    --ring: 105 42% 52%;
    --border: 220 13% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}