@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --gradient: #232526;
    --background: 212 95.2% 98.3%;
    --foreground: 212 0.4% 0.6%;
    --muted: 212 0.4% 91.5%;
    --muted-foreground: 212 0.2% 41.5%;
    --popover: 212 86.8% 91.5%;
    --popover-foreground: 212 0.4% 0.75%;
    --card: 212 86.8% 91.5%;
    --card-foreground: 212 0.4% 0.75%;
    --border: 212 5.4% 89.6%;
    --input: 212 5.4% 89.6%;
    --primary: 212 4% 15%;
    --primary-foreground: 212 0.08% 91.5%;
    --secondary: 212 0.2% 95.75%;
    --secondary-foreground: 212 1.24% 11.5%;
    --accent: 212 0.2% 95.75%;
    --accent-foreground: 212 1.24% 11.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 212 4% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #9795f0;
    --background: 256 48.75% 6.08%;
    --foreground: 256 7.5% 98.8%;
    --muted: 256 37.5% 22.8%;
    --muted-foreground: 256 7.5% 57.6%;
    --popover: 256 50% 9.88%;
    --popover-foreground: 256 7.5% 98.8%;
    --card: 256 50% 9.88%;
    --card-foreground: 256 7.5% 98.8%;
    --border: 256 37.5% 22.8%;
    --input: 256 37.5% 22.8%;
    --primary: 256 75% 76%;
    --primary-foreground: 256 7.5% 7.6%;
    --secondary: 256 37.5% 22.8%;
    --secondary-foreground: 256 7.5% 98.8%;
    --accent: 256 37.5% 22.8%;
    --accent-foreground: 256 7.5% 98.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 256 7.5% 98.8%;
    --ring: 256 75% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}