@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #0d0d26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d26;
    --foreground: #ffffff;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  :root {
    --background: 241 100% 100%;
    --foreground: 241 5% 10%;
    --card: 241 50% 100%;
    --card-foreground: 241 5% 15%;
    --popover: 241 100% 100%;
    --popover-foreground: 241 100% 10%;
    --primary: 241 75.2% 76.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 241 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 203 30% 95%;
    --muted-foreground: 241 5% 40%;
    --accent: 203 30% 90%;
    --accent-foreground: 241 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 241 5% 100%;
    --border: 241 30% 82%;
    --input: 241 30% 50%;
    --ring: 241 75.2% 76.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 241 50% 10%;
    --foreground: 241 5% 100%;
    --card: 241 50% 10%;
    --card-foreground: 241 5% 100%;
    --popover: 241 50% 5%;
    --popover-foreground: 241 5% 100%;
    --primary: 241 75.2% 76.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 241 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 203 30% 25%;
    --muted-foreground: 241 5% 65%;
    --accent: 203 30% 25%;
    --accent-foreground: 241 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 241 5% 100%;
    --border: 241 30% 50%;
    --input: 241 30% 50%;
    --ring: 241 75.2% 76.3%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}